@font-face {
  font-family: JournalFont;
  src: url('../fonts/marlboro.regular.ttf') format('truetype');
}
@font-face {
  font-family: ArticleFont;
  src: url('../fonts/playfair-display.regular.ttf') format('truetype');
}
.journal-font {
  font-family: JournalFont, "Georgia", serif;
  font-size: 1.5em;
  color: #E9D8F7;
  text-shadow: 1px 3px #2F2933;
}

#title-stack, #footer {
  background-color: #23222440;
}
h2 {
  word-wrap: break-word;
  hyphens: auto;
  font-size: 7em !important;
  text-align: center;
  margin: 0.5em 0;
  text-shadow: 0 8px #2F2933 !important;
}
article {
  font-family: ArticleFont, "Times New Roman", times, serif;
  font-size: 1.3rem;
  text-align: justify;
}


#bg {
  background-image: none;
  background-position: 50% 20%;
}
h1 {
  margin-top: 120px;
}
.links span {
  color: #E9D8F7;
}
.links > div {
  flex-direction: column;
  align-items: center;
}

#layout {
  display: grid;
  grid-template-columns:
  [left] 1fr
  [content-start] minmax(300px, min(700px, 40vw))
  [content-end] 1fr
  [right];
  column-gap: 1.5rem;
}
.content {
  margin-top: 0;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-flow: row;
  row-gap: 0;
}
.content > p {
  grid-column: content-start / content-end;
  /* margin: 0; */
}
.content > p::before,
.content > p::after { content:""; }
.content > p::before { grid-column: left / content-start; }
.content > p::after { grid-column: content-end / right; }

figure.side {
  margin:0;
  align-self: start;
  grid-row: auto / span 5;
  width:min(24ch, 100%);
}
figure.side.left { grid-column: left / content-start; justify-self: end; }
figure.side.right { grid-column: content-end / right; justify-self: start; }
figure img { display: block; max-width: 100%; height: auto; }
figcaption {
  color: #E9D8F7;
  font-size: 0.8em;
  text-align: initial;
}

@media (max-width: 900px) {
  figure.side{ grid-column: content-start / content-end; justify-self: center; width: 100%; }
}
