:root,
:root[data-dark="false"] {
  --bg1: oklch(0.85 0.0197 311.86);
  --bg2: oklch(78.442% 0.0756 309.077);
  --fg1: oklch(44.218% 0.23002 297.361);
  --fg2: oklch(0.1076 0 0);
  --fg-inverse: oklch(0.9039 0 0);
  --sh: oklch(90.097% 0.03692 310.364);
  --stroke: oklch(0.9054 0.0455 309.91);

  --shade: oklch(0.9 0.004 308.29 / 20%);
  --border: oklch(1 0 0 / 25%);
}
:root[data-dark="true"] {
  --shade: oklch(0.2538 0.004 308.29 / 25%);
  --border: oklch(0 0 0 / 25%);
}

@font-face {
  font-family: JournalFont;
  src: url('../fonts/marlboro.regular.ttf') format('truetype');
}
@font-face {
  font-family: ArticleFont;
  src: url('../fonts/playfair-display.regular.ttf') format('truetype');
}
#title-stroke {
  text-stroke-color: var(--stroke);
  -webkit-text-stroke-color: var(--stroke);
  mix-blend-mode: saturation;
}
.journal-font {
  font-family: JournalFont, "Georgia", serif;
  font-size: 1.5em;
  color: var(--fg2);
  text-shadow: 1px 3px var(--sh);
}

#scroll-top {
  z-index: 5;
  position: sticky;
  top: 30px;
  display: flex;
  height: 0;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
}
#preferences-toggle {
  border: none;
  background: none;
  appearance: none;
}
:root[data-dark="true"] #preferences-toggle img {
  filter: invert(1) brightness(2);
}
#preferences-toggle,
#preferences label {
  flex-shrink: 0;
  align-self: center;
}
#preferences {
  color: var(--fg2);
  margin: 0;
}

#title-stack, #footer {
  background-color: var(--shade);
}
#title-stack {
  border-bottom: 1px solid var(--border);
}
#license {
  white-space: initial;
  color: var(--fg2);
}
#replication {
  z-index: 5;
  position: absolute;
  width: 100%;
  margin-top: -4em;
  text-align: center;
  font-weight: bold;
  color: var(--fg2);
  text-shadow: 0 2px var(--sh) !important;
  font-family: ArticleFont, "Times New Roman", times, serif;
  transition: margin-top 0.5s ease-in-out;
}
#footer {
  border-top: 1px solid var(--border);
}
h2 {
  word-wrap: break-word;
  hyphens: auto;
  font-size: 7em !important;
  text-align: center;
  margin: 0.5em 0;
}
:root[data-dark="true"] h2 {
  text-shadow: 0 8px #19161b !important;
}
article {
  font-family: ArticleFont, "Times New Roman", times, serif;
  font-size: 1.3rem;
  text-align: justify;
}


body {
  background-position: 50% -90vh;
}
#bg {
  background-image: none;
}
.links {
  margin-bottom: 2rem;
}
.links span {
  color: var(--fg2);
  margin-left: 0;
}
.links > div {
  flex-direction: column;
  align-items: center;
}

#layout {
  display: grid;
  grid-template-columns:
  [left] 1fr
  [content-start] minmax(300px, min(700px, 40vw))
  [content-end] 1fr
  [right];
  column-gap: 1.5rem;
}
#by-line {
  color: var(--fg2);
  text-align: center;
  text-shadow: 0 2px var(--sh);
}
article.content {
  margin-top: 0;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-flow: row;
  row-gap: 0;
}
article > *:not(.side) {
  grid-column: content-start / content-end;
  /* margin: 0; */
}
article > p > span {
  font-family: JournalFont, "Georgia", serif;
  font-size: 1.8em;
  text-shadow: 1px 3px var(--sh);
}
article > p::before,
article > p::after { content:""; }
article > p::before { grid-column: left / content-start; }
article > p::after { grid-column: content-end / right; }

.side {
  margin:0;
  align-self: start;
  grid-row: auto / span 5;
  width:min(24ch, 100%);
}
.side.left { grid-column: left / content-start; justify-self: end; }
.side.right { grid-column: content-end / right; justify-self: start; }
figure img { display: block; max-width: 100%; height: auto; }
figcaption {
  color: var(--fg2);
  font-size: 0.8em;
  text-align: initial;
}

figure {
  cursor: zoom-in;
}
figure img {
  transition: transform .25s ease, transform-origin;
}

@media (max-width: 1600px) {
  #replication {
    margin-top: -3em;
  }
}
@media (max-width: 950px) {
  h2 {
    font-size: 3em !important;
    text-shadow: 0 5px #19161b !important;
  }
  #replication {
    margin-top: -2em;
  }
  .side.left,
  .side.right {
    grid-column: content-start / content-end;
    justify-self: center;
    width: 100%;
  }
  .side img {
    max-height: 40vh;
    margin: 0 auto;
  }
}

:root[data-dark="true"] dialog.content {
  background-color: #273e4f;
}
:root dialog.content,
:root[data-dark="false"] dialog.content {
  background-color: oklch(86.067% 0.05159 312.549);
}
