@font-face {
  font-family: JournalFont;
  src: url('../fonts/marlboro.regular.ttf') format('truetype');
}
@font-face {
  font-family: ArticleFont;
  src: url('../fonts/playfair-display.regular.ttf') format('truetype');
}
.journal-font {
  font-family: JournalFont, "Georgia", serif;
  font-size: 1.5em;
  color: #E9D8F7;
  text-shadow: 1px 3px #2F2933;
}

#title-stack, #footer {
  background-color: #23222440;
}
h2 {
  word-wrap: break-word;
  hyphens: auto;
  font-size: 7em !important;
  text-align: center;
  margin: 0.5em 0;
  text-shadow: 0 8px #2F2933 !important;
}
article {
  font-family: ArticleFont, "Times New Roman", times, serif;
  font-size: 1.3rem;
  text-align: justify;
}


#bg {
  background-image: none;
  background-position: 50% 20%;
}
h1 {
  margin-top: 120px;
}
.links span {
  color: #E9D8F7;
}
.links > div {
  flex-direction: column;
  align-items: center;
}
