


h2 {
  font-weight: normal;
  margin: 0;
}

#title-stack, .links, #showcase {
  position: relative;
  z-index: 1;
}
body {
  background: #2F2933;
}
#bg, #showcase {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
#showcase {
  background-color: #2F2933a5;
}
#showcase .tabs {
  padding-top: 0.6em;
}

#showcase .content {
  margin: 20px;
  margin-left: 80px;
}
#showcase .content hr {
  height: 0;
  border-color: #252a43;
}
#yt_player {
  margin-bottom: 0;
}

.tabs {
  z-index: 10;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.links button,
.links a {
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-shadow: 0 2px #000;
}
.panels p {
  margin-bottom: 1em;
}

.music-story {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  place-items: 0 center;
}
.music-story .player {
  top: 0;
  position: sticky;
}
.music-story .player {
  z-index: 5;
  width: 50%;
  display: flex;
  justify-content: end;
  /* mix-blend-mode: soft-light; */
  /* filter: contrast(5); */
}
.music-story .story {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: start;
}
.music-story .story a {
  cursor: pointer;
}
.player iframe {
  margin: 20px;
  margin-right: 80px;
  min-width: 225px;
  max-width: 500px;
}
.story .content {
  width: 100%;
  min-width: 225px;
  max-width: 460px;
}
.story .panels .controls {
  position: relative;
  height: 0;
  top: 2.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: LarastelleFont;
  font-size: 2.5em;
  text-shadow: 1px 3px #2F2933;
}
.story .controls a {
  cursor: pointer;
}

#footer {
  padding-top: 1em;
}

.links [role="list-item"]:hover {
  background-color: #2F2933d5;
  border-radius: 5px;
}
.links .active {
  background-color: #2F2933;
  mix-blend-mode: hard-light;
  border-radius: 5px;
}

@media (max-width: 645px) {
  /* #bg > .pair:not(.links) {
    position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0;
  } */
  .pair.links > * {
    width: 50% !important;
  }
  #showcase .content {
    padding: 0;
    margin-left: 20px;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
  #showcase .content > * {
    padding-left: 20px;
    padding-right: 20px;
  }
  .music-story {
    flex-direction: column-reverse;
    align-items: center;
  }
  .music-story .story {
    width: auto;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  .music-story .player {
    width: 100%;
    height: 170px;
    max-width: none;
  }
  .music-story .player iframe {
    width: 100%;
    margin-right: 20px;
    height: 100%;
  }
  .music-story .player[data-source="spotify"] {
    height: 170px;
    overflow-y: hidden;
  }
  .music-story .player[data-source="apple"] {
    height: 170px;
    overflow-y: scroll;
  }
  .music-story .player[data-source="amazon"] {
    height: 320px;
  }
  .music-story .player iframe#spotify,
  .music-story .player iframe#amazon {
    height: 300px;
  }
  #bg > .pair h2 {
    margin: 0;
    width: 50%;
  }
  #chapters-control, #music-control {
    margin: 0 !important;
  }
}

/* [aria-label] button {
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  border: none;
} */

.pair {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: center;
}
.pair > :first-child, .pair > :last-child {
  width: calc(50% - 80px);
  max-width: 500px;
}
.pair > :last-child {
  margin-right: 80px;
}
.pair > :first-child {
  margin-left: 80px;
}
#bg > .pair h2 {
  color: #2F2933;
  user-select: none;
  font-size: 1.8em;
  text-shadow: 1px 2px #edddbe;
}
body.dark #bg > .pair h2 {
  color: white;
  text-shadow: 1px 2px black, 0 -1px black;
}
#chapters-control {
  display: flex;
}
.pair.links {
  gap: 0;
}

.story .content {
  transition: box-shadow 0.2s ease-in;
  box-shadow: inset 0 0 0 0 transparent;
}
.story.gesture-feedback .content {
  box-shadow: inset 0 0 35px 50px #164f94;
}
.story .drop {
  filter: drop-shadow(1px 2px #1a1d24) drop-shadow(0 1px #424F75);
}
