@font-face {
    font-family: BrandFont;
    src: url('../fonts/artefak-typeface.clean-typeface.otf') format('opentype');
}

.brand-font {
    font-family: BrandFont;
    color: #29D9C2;
    text-shadow: 1px 3px #2F2933;
}

h1 {
  padding-top: 150px;
  font-size: 8rem;
  text-align: center;
}
#splatter {
  position: absolute;
  text-align: center;
  z-index: -2;
}
#pen {
  position: absolute;
  text-align: center;
  z-index: -1;
  transform: rotate(180deg);
  margin-top: -400px;
  filter: invert(97%) sepia(9%) saturate(1790%) hue-rotate(338deg) brightness(108%) contrast(102%);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: radial-gradient(center, ellipse cover, #27364f 0%, #2F2933 50%, #2F2933 100%);
  background: -moz-radial-gradient(center, ellipse cover, #27364f 0%, #2F2933 50%, #2F2933 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #27364f), color-stop(50%, #2F2933), color-stop(100%, #2F2933));
  background: -webkit-radial-gradient(center, ellipse cover, #27364f 0%, #2F2933 50%, #2F2933 100%);
  background: -o-radial-gradient(center, ellipse cover, #27364f 0%, #2F2933 50%, #2F2933 100%);
  background: -ms-radial-gradient(center, ellipse cover, #27364f 0%, #2F2933 50%, #2F2933 100%);
  filter: 'progid:DXImageTransform.Microsoft.gradient( startColorstr=' #27364f ', endColorstr=' #2F2933 ',GradientType=1 )';
  background-position: 50% 0%;
  background-size: 150vmax 150vmax;
  background-repeat: no-repeat;
  background-color: #2F2933;
}
